p-button button.p-element.p-button.p-component {
    width: auto;
}
label.up,
label.down {
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    i {
        font-size: 1.4rem;
        color: #1cbfff;
    }
}
